section {
    display: flex;
    justify-content: center;
}
div{
    width: 50px;
    height: 50px;
    text-align: center;
    background: lightgray;
    border: 3px  dotted black;
    font-size: 2rem;
    font-weight: 700;
}

.blue{
    color: blue
}
img{
    width: 100%
}
.case-pleine{
    border: 2px solid lightgray;
    -webkit-box-shadow: 2px 2px 0px 2px #000000;
    box-shadow: 2px 2px 0px 2px #000000;
}